<div class="container d-flex justify-content-center align-items-center">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box">
            <div class=" featured-image mb-3">
                <img src="assets/images/logo-inscription.png" class="img-fluid">
            </div>
            <p class="text-white fs-2" style="font-family; font-weight:600">Bienvenue</p>
            <small class="text-white text-wrap text-center">Je vous souhaite bienvenue a la page d'inscription de notre reservaiton d'hotel </small>
        </div>
        <div class="col-md-6 right-box">

        </div>
    </div>
</div>