@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 90%;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.flex {
  display: flex;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

/*-------------head--------- */
.head {
  height: 10vh;
  line-height: 10vh;
}

.head i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  background: #FAF3E7;
  text-align: center;
  color: #CC8C18;
}

.head img {
  margin-top: -60px;

}

/*-------------head--------- */
/*-------------header--------- */
header {
  background: #263760;
  padding: 15px 0 15px 0;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.5s ease-in-out;
  background: white;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  padding: 0 20px 0 0;
}

header li {
  margin-right: 30px;
}

header ul li a {
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.5s;
}

header ul li a:hover {
  color: #000;
}

header .head_contact {
  position: relative;
}

header .head_contact i {
  position: absolute;
  top: -29px;
  left: -70%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: white;
  color: #CC8C18;
  border-radius: 50%;
  transform: rotate(-45deg);
  border: 5px solid #ECE3D2;
  font-size: 30px;
}

header .sticky_logo {
  display: none;
}

header.sticky .sticky_logo {
  display: block;
  width: 150px;
  height: 80px;
  margin-top: -15px;
}

header.sticky {
  z-index: 9999;
  position: fixed;
  width: 100%;
  background: #313538;
  transition: 0.5s;
  height: 12vh;
  transition: 0.5s;
  top: 0;
  padding: 30px 0 0 0;
}

header.sticky ul li a {
  color: white;
}

.btn {
  font-size: 14px;
  line-height: 30px;
  margin: 0 8px;
  padding: 12px 18px;
  text-transform: none;
  background-color: black;
  color: white;
  border-radius: 8px;
}

@media only screen and (max-width:768px) {

  /*------------head------------*/
  .header .head_contact,
  .logo {
    display: none;
  }

  /*------------head------------*/
  header.sticky {
    height: 8vh;
  }

  header.sticky .nav-menu {
    background: #313538;
  }

  .navbar {
    height: 5vh;
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 11rem;
    flex-direction: column;
    background: #CC8C18;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 99;
  }

  header.sticky .nav-menu {
    top: 5rem;
  }

  header ul li a {
    color: white;
  }

  .nav-menu.active {
    left: 0;
  }

  header li {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*------------home------------*/

.home .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home .text {
  max-width: 50%;
  color: white;
  margin: 14%;
  text-align: center;
}

.home h1 {
  font-size: 80px;
  font-weight: 400;
}

.home p {
  font-weight: 400;
  line-height: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
}

button {
  padding: 20px 40px;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 50px;
  color: white;
  margin-top: 20px;
}


.home .image_item {
  position: absolute;
  top: 20%;
  right: 20%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home .image_item img {
  width: 140px;
  height: 94px;
  margin: 10px;
  transition: 0.5s;
}

.home .image_item img.active {
  border: 2px solid white;
}

/*--------------book--------*/
.flex {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.book {
  margin-top: -3%;
  width: 100%;
  height: 10vh;
  color: white;
}

.book .input {
  background: #242e5a;
  padding: 20px 20px 40px 20px;
}

.book .search {
  background: #3f9cc1;
  padding: 10px;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: white;
}

::placeholder {
  color: white;
}

.book .search {
  width: 20%;
}

.book .search input {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
}

/*--------------about--------*/
.top {
  margin-top: 10%;
}

.mtop {
  margin-top: 5%;
}

.left,
.right {
  width: 50%;
}

.about {
  margin-bottom: 50px;
}

.about .img {
  position: relative;
}

.about .image1 {
  width: 410px;
  height: 550px;
  object-fit: cover;
}

.about .image2 {
  width: 500px;
  height: 300px;
  position: absolute;
  bottom: 100px;
  z-index: 2;
  right: 10%;
  object-fit: cover;
}

.heading {
  position: relative;
}


.heads {
  text-align: center;
  margin-bottom: 3%;
}

.heads h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heads h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: blue;
}

.heading::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 4px;
  background: #C1B086;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #5f5f5f;
}

.heading h2 {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0 40px 0;
  color: #222222;
}

.heading p {
  margin-bottom: 20px;
  line-height: 25px;
  color: #5f5f5f;
  margin: 0 0 20px 50px;
}

.heading .btn1 {
  margin-top: 50px 0 20px 50px;
}

.btn1 {
  background: #C1B086;
  color: white;

}

.wrapper {
  background-image: url("../images/22.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  position: relative;
  object-fit: cover;
}

.wrapper .text {
  background: #3f9cc1;
  padding: 50px;
  width: 40%;
  height: 600px;
  position: absolute;
  top: -13%;
  right: 10%;
  padding-top: 10%;
  color: white;
}

.wrapper .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
}

.wrapper h2 {
  font-weight: 400;
}

.wrapper p {
  margin: 20px 0 50px 0;
  line-height: 30px;
}

.wrapper i {
  margin: 5px 20px 0 0;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

.room .grid {
  grid-template-columns: repeat(3, 1fr);
}

.room img {
  width: 100%;
  height: 100%;
}

.room .box {
  box-shadow: 0 13px 43px 0 rgb(37 46 89/10%);
}

.room .text {
  padding: 20px;

}

.room h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.room p span {
  font-size: 12px;
  color: grey;
  margin-bottom: 10px;
}

.room p {
  font-size: 20px;

}

.wrapper2 {
  background-image: url("../images/39.jpg");
}

.wrapper2 .text {
  left: 10%;
}

.wrapper2 h5,
.wrapper2 h2 {
  color: white;
}

.wrapper2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper2 .para h5 {
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
}

.wrapper2 .para {
  margin-left: 10%;
}

/*--------------footer--------*/

#footerContainer {
  position: relative;
}

#footerContainer .footer {
  padding: 30px 0 60px;
  margin-top: 5%;
}

.background-brown {
  background-color: #231f20 !important;
}

#footerContainer .footer .blockContainer {
  margin: 0 auto;
  max-width: 1380px;
  padding: 0 50px;
}

.size1of3 {
  width: 33.33333%;
}

.unit {
  float: left;
}

#footerContainer .footer .block-item {
  display: block;
  text-align: center;
  padding: 35px 20px 0;
  width: 300px;
  margin: 0 auto;
  border-bottom: 5px solid transparent;
  transition: background-color .25s ease 0s, border-color .25s ease 0s;
}

img {
  vertical-align: middle;
  border: 0;
}

#footerContainer .footer .title-item-bis {
  margin: 20px 0;
  min-height: 20px;
}

#footerContainer .footer .text-description {
  min-height: 75px;
}

#footerContainer .footer .block-share {
  text-align: center;
  padding: 32px 0 40px;
}

#footerContainer .footer .block-share .icon {
  color: #656363;
  font-size: 30px;
  margin: 0 25px;
  transition: color .3s ease;
}

[class*=" icon-"],
[class^="icon-"] {
  vertical-align: middle;
}

[class*=" icon-"],
[class^="icon-"] {
  font-size: 20px;
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#footerContainer .footer .bookByPhone {
  text-align: center;
}

.line::after,
.line::before {
  content: "";
  display: table;
}

.icon-facebook::before {
  content: "\e609";
}

.icon-linkedin::before {
  content: "\e60a";
}

.icon-youtube::before {
  content: "\e60c";
}

.icon-instagram::before {
  content: "\e908";
}

.line::after {
  clear: both;
}

.color-white {
  color: #fff;
}

.btn-main {
  background: #a57b1b;
  color: #fff;
  line-height: normal;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: lucien-regular, arial, helvetica, sans-serif;
  font-size: .875em;
  padding: 22px 30px 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .3s ease 0s;
}

.mb-48 {
  margin-bottom: 4.8rem !important;
}

.mt-10 {
  margin-top: 1rem !important;
}

.w-auto {
  width: auto !important;
}

#footerContainer .footer .bookByPhone .phoneIcon::before {
  content: "\e65c";
}

#footerContainer .footer .bookByPhone .phoneIcon {
  font-family: icons-header;
  font-size: 1.6rem;
  font-weight: 700;
  vertical-align: middle;
  margin-right: .5rem;
}

#footerContainer .footer .bookByPhone .phoneIcon::before {
  content: "\e65c";
}

#footerContainer .footer .list-item {
  text-align: center;
}

#footerContainer .footer .bookByPhone .phoneIcon {
  font-family: icons-header;
  font-size: 1.6rem;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
}

#footerContainer .footer .list-item li a {
  font-size: .75em;
  color: #b1b1b1;
}

.ttu {
  text-transform: uppercase;
}

ul {
  padding: 0;
}

ul {
  list-style: none;

}

#footerContainer .footer .list-item-hotel {
  padding-top: 30px;
}

#footerContainer .footer .list-item {
  text-align: center;
}

#footerContainer .footer .text-description {
  min-height: 75px;
  font-family: georgia, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.color-grey {
  color: #dfdfdf;
}

p {
  margin: 0;
  padding: 0;
}

input {
  width: 100%;
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  background: #263760;
  margin-top: 20px;
  color: white;
  text-align: center;
}

section {

  padding: 30px;
}

.subscribe {
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.subscribe input {
  width: 70%;
  border-radius: 50px;
  margin-right: 10px;
  margin-left: 15%;
  padding: 10px;
  text-align: center;
}

section {
  padding: 30px;
}

.top {
  margin-top: 80px;
}

.container {
  max-width: 90%;
  margin: auto;
  margin-top: auto;
}

p {
  line-height: 30px;

  margin-bottom: 20px;
  font-size: 15px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 20px 40px;
  outline: none;
  border: 2px solid grey;
  border-radius: 50px;
  color: black;
  margin-top: 20px;
}